spring:
  datasource:
    enabled: true
    url: "jdbc:h2:mem:order_management;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE"
    username: "sa"
    password: ""
    driver-class-name: org.h2.Driver
    hikari:
      pool-name: h2-pool
  
  # H2 Console configuration (useful for development)
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: false
  
  # JPA configuration for H2
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
---
management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - metrics
          - prometheus